/* 
:host {
  display: block;
  padding: 16px;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #051424;
}


.options {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.option {
  padding: 14px 16px;
  border-radius: 10px;
  background-color: #1e293b;
  color: #e5e7eb;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid transparent;
  transition: all 0.25s ease;
}


.option:hover {
  background-color: #334155;
  transform: translateY(-2px);
}


.option.correct {
  background-color: #064e3b;
  border-color: #22c55e;
  color: #d1fae5;
  font-weight: 600;
}


.option.wrong {
  background-color: #7f1d1d;
  border-color: #ef4444;
  color: #fee2e2;
}

.option.correct,
.option.wrong {
  cursor: default;
  pointer-events: none;
}


@media (max-width: 768px) {
  h2 {
    font-size: 1.1rem;
  }

  .option {
    font-size: 0.95rem;
    padding: 12px;
  }
} */


:host {
  display: block;
  max-width: 800px;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 24px;
  color: #020617;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.option {
  padding: 16px;
  border-radius: 10px;
  background-color: #1e293b;
  color: #f8fafc;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.option:hover {
  background-color: #334155;
}

.option.correct {
  background-color: #14532d;
}

.option.wrong {
  background-color: #7f1d1d;
}

